= form_for inquiry do |f|
  %div{:style => "display: none;"}
    = f.label :nickname
    = f.text_field :nickname
  %div
    = f.label :name
    = f.text_field :name
  %div
    = f.label :email
    = f.text_field :email
  %div
    = f.label :subject
    = f.text_field :subject
  %div
    = f.label :message
    = f.text_area :message
  %div
    = f.submit "Send"